{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Add Incident{% endblock %}

{% block content %}
    <div class="container-sm">
        <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
        <p>Northern Quest Resort & Casino</p>
    </div>

    <div class="container-sm" style="padding: 0 500px 10px 10px">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}