{% extends "base.html" %}

{% block title %}Daily Activity Reports{% endblock %}

{% block content %}
    <div class="container-sm">
        <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
        <p>Northern Quest Resort & Casino</p>
    </div>
    <div class="container-sm" style="padding: 0 950px 10px 10px">
        <h2>Daily Activity Reports</h2>
        {% if not daily_report %}
            <div class="card">
                <div class="card-header">
                    <h5>No Results Were Found</h5>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container-sm" style="padding: 0 500px 10px 10px">
        {% for item in daily_report %}
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold">{{ item.created }}</span>
                </div>
                <div class="card-body">
                    <p>Daily Report:</p> {{ item.description }}
                </div>
            </div>
        {% endfor %}
        <form action="" method="GET" style="margin-top: 10px">
            <p style="font-style: italic">Enter a beginning date:</p>
            <label for="q"></label>
            <input type="date" id="q" name="q" required>
            <p style="font-style: italic">Enter an ending date:</p>
            <input type="date" id="q" name="q" required>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}