{% extends "base.html" %}

{% block title %}Equipment Info{% endblock %}

{% block content %}
    <div>
        <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
        <p>Northern Quest Resort & Casino</p>
    </div>

    <div style="margin-left: 90px" class="container-fluid mt-3">
        <div class="row">
            <div class="col p-3"><img id=eq_img src="../../static/images/table-games.jpeg" alt="Table Games"><br><br>
                <a href="https://gaming.ny.gov/pdf/Casino%20Table%20Game%20Equipment%20text.pdf" target="_blank">Table
                    Games</a>
            </div>

            <div class="col p-3"><img id=eq_img src="../../static/images/cage.jpeg" alt="Cage"><br><br>
                <a href="http://www.tdnmoney.com/product-category/cage-and-money-room/" target="_blank">Cage</a>
            </div>

            <div class="col p-3"><img id=eq_img src="../../static/images/recycler.jpeg" alt="Recycler"><br><br>
                <a href="https://www.revolutionretailsystems.com/cash-recycler/?gclid=CjwKCAjwrZOXBhACEiwA0EoRD0Pb9BjZzjrYfmPjGwIpmy6a4Cg7pamt-G16CWnqsk6rhQkfO_chaRoC-FoQAvD_BwE"
                   target="_blank">Recycler</a>
            </div>

        </div>
    </div>

    <div style="margin-left: 90px" class="container-fluid mt-3">
        <div class="row">
            <div class="col p-3"><img id=eq_img src="../../static/images/off_track_betting.webp" alt="Off Track Betting"><br><br>
                <a href="https://www.alibaba.com/premium/betting_machines.html?src=sem_ggl&from=sem_ggl&cmpgn=2068329578&adgrp=78014436898&fditm=&tgt=kwd-296009259022&locintrst=&locphyscl=9033784&mtchtyp=b&ntwrk=g&device=c&dvcmdl=&creative=374056533033&plcmnt=&plcmntcat=&p1=&p2=&aceid=&position=&localKeyword=betting%20machines&gclid=CjwKCAjwrZOXBhACEiwA0EoRD56uKGF_pwL8OxqOWTT-81uJAAzzR-blcuJqtD6B7ie7YK4QR6G9iRoCGVEQAvD_BwE"
                   target="_blank">Off Track Betting</a>
            </div>

            <div class="col p-3"><img id="eq_img" src="../../static/images/bench.jpeg" alt="Bench Equipment"><br><br>
                <a href="https://www.casinotech.com/products" target="_blank">Bench Equipment</a>
            </div>

            <div class="col p-3"><img id="eq_img" src="../../static/images/vendor.jpeg" alt="Vendor"><br><br>
                <a href="https://www.casinotech.com/slot-part-repair-services" target="_blank">Vendor</a>
            </div>

        </div>
    </div>

    <div style="margin-left: 90px" class="container-fluid mt-3">
        <div class="row">
            <div class="col p-3"><img id="eq_img" src="../../static/images/nrt.png" alt="NRT"><br><br>
                <a href="https://www.nrttech.com/products/kiosks/nrt-neo/#src-intro" target="_blank">NRT</a>
            </div>

            <div class="col p-3"><img id="eq_img" src="../../static/images/slot_machines.webp" alt="Slots"><br><br>
                <a href="https://www.casinotech.com" target="_blank">Slots</a>
            </div>

            <div class="col p-3"><img id="eq_img" src="../../static/images/ticket-paper.png" alt="Misc"><br><br>
                <a href="https://patriotgaming.com/" target="_blank">Misc</a>
            </div>

        </div>
    </div>
{% endblock %}