{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Home{% endblock %}

{% block content %}
    <div>
        <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
        <p>Northern Quest Resort & Casino</p>
    </div>

    <h1>Daily Activity Report</h1>

    {% for post in object_list %}
        <div>
            <p>{{ post.created }}</p>
            <p>{{ post.description }}</p>
        </div>
    {% endfor %}

    <a href="{% url 'add_daily_report' %}" class="btn btn-primary">CREATE REPORT</a>
{% endblock %}