{% extends "base.html" %}

{% block title %}Add Incident{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-3">
                <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
                <p>Northern Quest Resort & Casino</p>
            </div>

            <div class="col-sm-3">
                Tech Name {{ tbd }}<br>
                Location {{ tbd }}<br>
                Serial No. {{ tbd }}<br>
                Make {{ tbd }}
            </div>

            <div class="col-sm-3">
                Model {{ tbd }}<br>
                Game Name {{ tbd }}<br>
                Date {{ tbd }}<br>
                Category {{ tbd }}
            </div>
        </div>
    <hr>
    </div>
{% endblock %}