{% extends "base.html" %}

{% block title %}Add Incident/Solution{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-3">
                <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
                <p>Northern Quest Resort & Casino</p>
            </div>

            <div class="col-sm-3">
                <br>
                <span>Tech Name: {{ tbd }}</span><br><br>
                <span>Location: {{ tbd }}</span><br><br>
                <span>Serial No.: {{ tbd }}</span><br><br>
                <span>Make: {{ tbd }}</span>
            </div>

            <div class="col-sm-3">
                <br>
                <span>Model: {{ tbd }}</span><br><br>
                <span>Game Name: {{ tbd }}</span><br><br>
                <span>Date: {{ tbd }}</span><br><br>
                <span>Category: {{ tbd }}</span>
            </div>
        </div>

        <hr>

        <p style="font-weight: bold">Description:</p>
        <div style="margin: 150px 150px 150px 150px">
            <p>{{ tbd }}</p>
        </div>

        <p style="font-weight: bold">Notes:</p>
        <div style="margin: 150px 150px 150px 150px">
            <p>{{ tbd }}</p>
        </div>

        <p style="font-weight: bold">Solution:</p>
        <div style="margin: 150px 150px 150px 150px">
            <p>{{ tbd }}</p>
        </div>
    </div>
{% endblock %}