{% extends "base.html" %}

{% block title %}Incident / Solution{% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="row">
            <div class="col-sm-3">
                <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
                <p>Northern Quest Resort & Casino</p>
            </div>

            <div class="col-sm-3">
                <br>
                <span>Tech Name: {{ tech_Name }}</span><br><br>
                <span>Location: {{ location }}</span><br><br>
                <span>Serial No.: {{ serial_Number }}</span><br><br>
                <span>Make: {{ make }}</span>
            </div>

            <div class="col-sm-3">
                <br>
                <span>Model: {{ model }}</span><br><br>
                <span>Game Name: {{ game_Name }}</span><br><br>
                <span>Date: {{ date }}</span><br><br>
                <span>Category: {{ category }}</span>
            </div>
        </div>

        <hr>

        <p style="font-weight: bold">Incident:</p>
        <div style="margin: 5px 5px 150px 5px">
            <p>{{ incident }}</p>
        </div>

        <p style="font-weight: bold">Solution:</p>
        <div style="margin: 5px 5px 150px 5px">
            <p>{{ solution }}</p>
        </div>
        <a href="{% url 'add_incident_solution' %}" class="btn btn-primary">ADD ANOTHER INCIDENT</a>
    </div>
{% endblock %}