{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Knowledge Base{% endblock %}

{% block content %}
    <div class="container-sm">
        <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
        <p>Northern Quest Resort & Casino</p>
    </div>

    <div class="container-sm" style="padding: 0 500px 10px 10px">
        <h2>Knowledge Base Report</h2>
        <div class="container-sm" style="padding: 0 500px 10px 10px">
            <h2>Report an Incident</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}