{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Knowledge Base{% endblock %}

{% block content %}
    <div class="container-sm">
        <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
        <p>Northern Quest Resort & Casino</p>
    </div>
    <div class="container-sm" style="padding: 0 950px 10px 10px">
        <h2>Knowledge Base Report</h2>
        {% if not incident %}
            <div class="card">
                <div class="card-header">
                    <h5>No Results Were Found</h5>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container-sm" style="padding: 0 500px 10px 10px">
        {% for item in incident %}
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold">{{ item.category }}</span> &middot;
                    <span class="text-muted">{{ item.make }} {{ item.model }} | {{ item.date }}</span>
                </div>
                <div class="card-body">
                    <p>Incident:</p> {{ item.incident }}
                    <p>Solution:</p> {{ item.solution }}
                </div>
            </div>
        {% endfor %}
        <form action="" method="GET" style="margin-top: 10px">
            <p>Enter an Incident Search Term</p>
            <p style="font-style: italic">For example, type <b>Mon</b> to search for a monitor related issue, or click
                submit for all incidents</p>
            <label>
                <input type="text" name="q">
            </label>
            <input type="submit">
        </form>
    </div>
{% endblock %}