{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block content %}
    <div class="container-sm">
        <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
        <p>Northern Quest Resort & Casino</p>
        <h2>Reports</h2>
    </div>

    <hr style="margin-top: 50px">
    <div style="margin-left: 90px" class="container-fluid mt-3">
        <div class="row">
            <div class="col p-3"><img id=rp_img src="../../static/images/slot_machine_1.jpeg"
                                      alt="Tech Activity Report"><br><br>
                <a href="{% url 'tech_activity_report' %}">Tech Activity Reports</a>
            </div>

            <div class="col p-3"><img id=rp_img src="../../static/images/slot_machines_2.jpeg"
                                      alt="Slot Machines Report"><br><br>
                <a href="{% url 'slot_machines_report' %}">Slot Machines Reports</a>
            </div>

            <div class="col p-3"><img id=rp_img src="../../static/images/slot_machine_3.jpeg"
                                      alt="Daily Activity Report"><br><br>
                <a href="{% url 'daily_activity_report' %}">Daily Activity Reports</a>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}