{% extends "base.html" %}

{% block title %}Slot Activity Reports{% endblock %}

{% block content %}
    <div class="container-sm">
        <img src="../../static/images/hotel-outside.jpeg" width="300" height="200" alt="Casino">
        <p>Northern Quest Resort & Casino</p>
    </div>

    <div class="container mt-3">
        <h2>Slot Activity Reports</h2>
        <br>

        <div class="container-sm" style="padding: 0 500px 10px 10px">
            {% for item in location %}
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">{{ item.location }} &bullet; </span>
                        <span class="text-muted">{{ item.category }} &bullet; {{ item.tech_name }} &bullet; {{ item.game_Name }} &bullet;
                            {{ item.make }} {{ item.model }} &bullet; {{ item.date }} &bullet; {{ item.serial_Number }}</span>
                    </div>
                    <div class="card-body">
                        <p>Incident:</p> {{ item.incident }}
                        <p>Solution:</p> {{ item.solution }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="container-sm" style="padding: 0 500px 10px 10px">
            {% for item in serial_number %}
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">{{ item.location }} &bullet; </span>
                        <span class="text-muted">{{ item.category }} &bullet; {{ item.tech_name }} &bullet; {{ item.game_Name }} &bullet;
                            {{ item.make }} {{ item.model }} &bullet; {{ item.date }} &bullet; {{ item.serial_Number }}</span>
                    </div>
                    <div class="card-body">
                        <p>Incident:</p> {{ item.incident }}
                        <p>Solution:</p> {{ item.solution }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="container-sm" style="padding: 0 500px 10px 10px">
            {% for item in make %}
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">{{ item.location }} &bullet; </span>
                        <span class="text-muted">{{ item.category }} &bullet; {{ item.tech_name }} &bullet; {{ item.game_Name }} &bullet;
                            {{ item.make }} {{ item.model }} &bullet; {{ item.date }} &bullet; {{ item.serial_Number }}</span>
                    </div>
                    <div class="card-body">
                        <p>Incident:</p> {{ item.incident }}
                        <p>Solution:</p> {{ item.solution }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="container-sm" style="padding: 0 500px 10px 10px">
            {% for item in model %}
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">{{ item.location }} &bullet; </span>
                        <span class="text-muted">{{ item.category }} &bullet; {{ item.tech_name }} &bullet; {{ item.game_Name }} &bullet;
                            {{ item.make }} {{ item.model }} &bullet; {{ item.date }} &bullet; {{ item.serial_Number }}</span>
                    </div>
                    <div class="card-body">
                        <p>Incident:</p> {{ item.incident }}
                        <p>Solution:</p> {{ item.solution }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="container-sm" style="padding: 0 500px 10px 10px">
            {% for item in game_name %}
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">{{ item.location }} &bullet; </span>
                        <span class="text-muted">{{ item.category }} &bullet; {{ item.tech_name }} &bullet; {{ item.game_Name }} &bullet;
                            {{ item.make }} {{ item.model }} &bullet; {{ item.date }} &bullet; {{ item.serial_Number }}</span>
                    </div>
                    <div class="card-body">
                        <p>Incident:</p> {{ item.incident }}
                        <p>Solution:</p> {{ item.solution }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="container-sm" style="padding: 0 500px 10px 10px">
            {% for item in date %}
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">{{ item.location }} &bullet; </span>
                        <span class="text-muted">{{ item.category }} &bullet; {{ item.tech_name }} &bullet; {{ item.game_Name }} &bullet;
                            {{ item.make }} {{ item.model }} &bullet; {{ item.date }} &bullet; {{ item.serial_Number }}</span>
                    </div>
                    <div class="card-body">
                        <p>Incident:</p> {{ item.incident }}
                        <p>Solution:</p> {{ item.solution }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="container-sm" style="padding: 0 500px 10px 10px">
            {% for item in category %}
                <div class="card">
                    <div class="card-header">
                        <span class="font-weight-bold">{{ item.location }} &bullet; </span>
                        <span class="text-muted">{{ item.category }} &bullet; {{ item.tech_name }} &bullet; {{ item.game_Name }} &bullet;
                            {{ item.make }} {{ item.model }} &bullet; {{ item.date }} &bullet; {{ item.serial_Number }}</span>
                    </div>
                    <div class="card-body">
                        <p>Incident:</p> {{ item.incident }}
                        <p>Solution:</p> {{ item.solution }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#home">Search by Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu1">Search by Serial Number</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu2">Search by Make</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu3">Search by Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu4">Search by Game Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu5">Search by Date</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu6">Search by Category</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div id="home" class="container tab-pane active"><br>
                <div class="container-sm" style="padding: 0 500px 10px 10px">
                    <form action="" method="GET" style="margin-top: 10px">
                        <p style="font-style: italic">Enter a Location:</p>
                        <label for="location"></label>
                        <input type="text" id="location" name="location" required>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

            <div id="menu1" class="container tab-pane fade"><br>
                <div class="container-sm" style="padding: 0 500px 10px 10px">
                    <form action="" method="GET" style="margin-top: 10px">
                        <p style="font-style: italic">Enter a Serial Number:</p>
                        <label for="serial_number"></label>
                        <input type="text" id="serial_number" name="serial_number" required>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

            <div id="menu2" class="container tab-pane fade"><br>
                <div class="container-sm" style="padding: 0 500px 10px 10px">
                    <form action="" method="GET" style="margin-top: 10px">
                        <p style="font-style: italic">Enter a Make:</p>
                        <label for="make"></label>
                        <input type="text" id="make" name="make" required>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

            <div id="menu3" class="container tab-pane fade"><br>
                <div class="container-sm" style="padding: 0 500px 10px 10px">
                    <form action="" method="GET" style="margin-top: 10px">
                        <p style="font-style: italic">Enter a model:</p>
                        <label for="model"></label>
                        <input type="text" id="model" name="model" required>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

            <div id="menu4" class="container tab-pane fade"><br>
                <div class="container-sm" style="padding: 0 500px 10px 10px">
                    <form action="" method="GET" style="margin-top: 10px">
                        <p style="font-style: italic">Enter a Game Name:</p>
                        <label for="game_name"></label>
                        <input type="text" id="game_name" name="game_name" required>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

            <div id="menu5" class="container tab-pane fade"><br>
                <div class="container-sm" style="padding: 0 500px 10px 10px">
                    <form action="" method="GET" style="margin-top: 10px">
                        <p style="font-style: italic">Enter a date:</p>
                        <label for="date"></label>
                        <input type="date" id="date" name="date" required>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

            <div id="menu6" class="container tab-pane fade"><br>
                <div class="container-sm" style="padding: 0 500px 10px 10px">
                    <form action="" method="GET" style="margin-top: 10px">
                        <p style="font-style: italic">Enter a Category:</p>
                        <label for="category"></label>
                        <input type="text" id="category" name="category" required>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}