@import url(//fonts.googleapis.com/css?family=Muli);

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

p {
    line-height: 1.8;
    color: #0487D9;
    width: 100%;
    height: 100%;
}

a {
    color: #F24C27;
    text-decoration: none;
}

a:hover {
    color: #0487D9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

h1 {
    border-top: 1px solid #bbb;
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
    color: #03318C;
}

h2 {
    margin: 30px 0 20px;
    color: #033E8C;
}

#header {
    padding: 10px 100px;
    font-size: 14px;
    background: #033E8C;
    color: #fff;
    border-bottom: 4px solid #049DD9;
    overflow: auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float: left;
    color: #f3f7cc;
    font-size: 20px;
    margin-right: 10%;
}

#header ul.menu {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

#header ul.menu li {
    float: left;
    padding: 4px 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color: #1cbbdf;
    font-weight: bold;
}

#header a {
    color: #f3f7cc;
}

#header a:hover {
    color: #fff;
}

#header .user {
    float: right;
    padding-top: 4px;
}

#content {
    padding: 30px 100px;
}

form {
    overflow: auto;
}

form p {
    width: 100%;
    overflow: auto;
}

label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input, textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #efefef;
    border: 0;
    padding: 6px 10px;
    font-size: 14px;
}

input[type=submit], a.button, [type=button] {
    font-weight: bold;
    background: #049DD9;
    color: #fff;
    padding: 13px 32px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 8%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form {
    float: left;
}

img {
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#eq_img {
    width: 150px;
    height: 150px;
}

#rp_img {
    width: 250px;
    height: 250px;
}